################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
*.db-shm
*.db-wal
/TodoAPI/.vs/TodoAPI/CopilotIndices/17.12.38.29086/SemanticSymbols.db-shm
/TodoAPI/.vs/TodoAPI/FileContentIndex/10cca232-a1d6-45af-b62e-f35e53c76a1f.vsidx
/TodoAPI/.vs/TodoAPI/FileContentIndex/297a20bb-13f0-41df-b651-14b3cc917ad3.vsidx
/TodoAPI/.vs/TodoAPI/FileContentIndex/3a51e032-3e59-4620-9ca2-f0462fbe1e81.vsidx
*.vsidx
/TodoAPI/.vs/TodoAPI/v17/DocumentLayout.backup.json
/TodoAPI/.vs/TodoAPI/v17/.suo
/TodoAPI/.vs/TodoAPI/v17/DocumentLayout.json
/TodoAPI/TodoAPI/bin/Debug/net6.0/TodoAPI.dll
/TodoAPI/TodoAPI/bin/Debug/net6.0/TodoAPI.exe
/TodoAPI/TodoAPI/bin/Debug/net6.0/TodoAPI.pdb
/TodoAPI/TodoAPI/obj/Container/ContainerDevelopmentMode.cache
/TodoAPI/TodoAPI/obj/Container/ContainerId.cache
/TodoAPI/TodoAPI/obj/Container/ContainerName.cache
/TodoAPI/TodoAPI/obj/Container/ContainerRunContext.cache
/TodoAPI/TodoAPI/obj/Debug/net6.0/ref/TodoAPI.dll
/TodoAPI/TodoAPI/obj/Debug/net6.0/refint/TodoAPI.dll
/TodoAPI/TodoAPI/obj/Debug/net6.0/apphost.exe
/TodoAPI/TodoAPI/obj/Debug/net6.0/TodoAPI.AssemblyInfo.cs
/TodoAPI/TodoAPI/obj/Debug/net6.0/TodoAPI.csproj.FileListAbsolute.txt
/TodoAPI/TodoAPI/obj/Debug/net6.0/TodoAPI.AssemblyInfoInputs.cache
/TodoAPI/TodoAPI/obj/Debug/net6.0/TodoAPI.dll
/TodoAPI/TodoAPI/obj/Debug/net6.0/TodoAPI.pdb
*.json
/TodoAPI/TodoAPI/obj/Release/net6.0/Protos/Todoanalytics.cs
/TodoAPI/TodoAPI/obj/Release/net6.0/Protos/TodoanalyticsGrpc.cs
/TodoAPI/TodoAPI/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/TodoAPI/TodoAPI/obj/Release/net6.0/12fbc7ffe642ca7e_todoanalytics.protodep
*.cs
/TodoAPI/TodoAPI/obj/Release/net6.0/TodoAPI.AssemblyInfoInputs.cache
/TodoAPI/TodoAPI/obj/Release/net6.0/TodoAPI.assets.cache
/TodoAPI/TodoAPI/obj/Release/net6.0/TodoAPI.csproj.AssemblyReference.cache
/TodoAPI/TodoAPI/obj/Release/net6.0/TodoAPI.GeneratedMSBuildEditorConfig.editorconfig
